In [1]:
import pandas as pd
import numpy as np
import altair as alt
from vega_datasets import data

In [2]:
world_map_skl = alt.topo_feature(data.world_110m.url, 'countries')
gdps = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/DSCI532_World_Wide_Weapons_Report/master/data/clean/gdp_1960_2018_worldbank.csv')
arms = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/DSCI532_World_Wide_Weapons_Report/master/data/clean/un-arms-and-ammunition_1988-2018.csv')
alt_country_ids = pd.read_csv(
    'https://raw.githubusercontent.com/KoGor/Map-Icons-Generator/master/data/world-110m-country-names.tsv',
    delimiter="\t")

In [48]:
# MY WRANGLING
gdp_ids = pd.merge(gdps, alt_country_ids, left_on='Country', right_on='name')[['Country', 'id', 'Year', 'GDP']]
arms_cleaned = arms[['Country', 'Year', 'Direction', 'USD_Value']]
arms_gdp = arms_cleaned.merge(gdp_ids, on=['Country'], how='left')
gdp_arms = arms_cleaned.merge(gdp_ids, on=['Country'], how='right')

In [59]:
arms_gdp[pd.isnull(arms_gdp).any(axis=1)].head()#['Country'].unique()

        Country  Year_x Direction    USD_Value   id  Year_y  GDP
22  Afghanistan    2018    Import  14310406.46  4.0  1982.0  NaN
23  Afghanistan    2018    Import  14310406.46  4.0  1983.0  NaN
24  Afghanistan    2018    Import  14310406.46  4.0  1984.0  NaN
25  Afghanistan    2018    Import  14310406.46  4.0  1985.0  NaN
26  Afghanistan    2018    Import  14310406.46  4.0  1986.0  NaN

In [74]:
vals = gdp_ids['Country'].unique()

In [75]:
arms_cleaned['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belgium-Luxembourg', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Rep.', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Comoros',
       'Congo', 'Cook Isds', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Rep.', "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Rep.', 'EU-28', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Ethiopia', 'FS Micronesia', 'Faeroe Isds',
       'Fiji', 'Finland', 'Fmr Fed. Rep. of Germany', 'Fmr Sudan',
       'France', 'French Guiana', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', "Lao People's Dem. Rep.",
       'Latvia', 'Lebanon', 'Lesotho', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Neth. Antilles', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Norway', 'Oman', 'Other Asia, nes', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Rep. of Korea', 'Rep. of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Réunion', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'So. African Customs Union',
       'Solomon Isds', 'Spain', 'Sri Lanka', 'State of Palestine',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'TFYR of Macedonia', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Isds', 'Tuvalu', 'USA', 'Uganda',
       'United Arab Emirates', 'United Kingdom',
       'United Rep. of Tanzania', 'Uruguay', 'Vanuatu', 'Venezuela',
       'Viet Nam', 'Wallis and Futuna Isds', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [76]:
LIST = arms_cleaned['Country'].unique()

In [77]:
for i in vals:
    if i in LIST:
        continue
    else:
        print(i)

Equatorial Guinea
Haiti
Jordan
Kazakhstan
Liberia
Puerto Rico
Somalia
South Sudan
Syrian Arab Republic
Tajikistan
Ukraine
Uzbekistan
South Africa

In [69]:
# We will replace values with other values in the gdp_ids dataset:
# current val: val to replace with
replacements = {'Bosnia and Herzegovina':'Bosnia Herzegovina',
'Central African Republic':'Central African Rep.',
"Cote d'Ivoire":"Côte d'Ivoire",
'Czech Republic':'Czech Rep.',
'Dominican Republic':'Dominican Rep.',
'Solomon Islands':'Solomon Isds',
'United States':'USA'}

In [73]:
gdp_ids = gdp_ids.replace(replacements)